/* ./your-css-folder/styles.css */
@import url(https://unpkg.com/pattern.css);

.btn-g {
  margin-top: 25px;
  display: flex;
  justify-content: center;
}

#app {
  width: 100%;
  min-height: 700px;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#inputs {
  display: grid;
  grid-template-columns: 60%;
  -ms-grid-column-span: 10px;
  justify-content: center;
}

.key-input {
  position: fixed;
  right: 50px;
  top: 20px;
  font-size: 12px;
}

.b-border {
  border-bottom: 1px solid black;
}

.cards {
  display: grid;
  grid-template-columns: auto auto auto;
}

.rodape {
  font-size: 10px;
  color: black;
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  background-color: darkgrey;
  text-align: center;
  height: 40px;
}

.copy-icon {
  width: 13px;
  position: fixed;
  right: 10px;
}

.card-text {
  padding-right: 25px;
}

.master-key {
  background: rgba(209,213,219,var(--tw-bg-opacity));
}

@media screen and (max-width: 992px) {
  .btn-g {
    display: grid;
    grid-template-columns: auto auto auto;
  }

  .btn-responsivo {
    font-size: 11px;
    margin-top: 20px;
  }

  .cards {
    display: grid;
    grid-template-columns: auto;
  }
  
}

/*Scroll bar */
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: cornflowerblue; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: cornflowerblue; 
}